{% extends "dashboard_base.html" %}

{% block content %}
    <div class="card-wrapper">
        <div class="card" id="audio-play">
            <h2 class="center">Audio 1</h2>
            <audio controls>
            <source src="/audio1/decrypted" type="audio/wav">
            Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card" id="audio-play">
            <h2 class="center">Audio 2</h2>
            <audio controls>
            <source src="/audio2/decrypted" type="audio/wav">
            Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <div class="card-wrapper">
        <div class="card" id="audio-play">
            <h2 class="center">Audio 3</h2>
            <audio controls>
            <source src="/audio3/decrypted" type="audio/wav">
            Your browser does not support the audio element.
            </audio>
        </div>
    </div>
{% endblock %}
